<h2>Add new post</h2>
<%= form_for :post, url: posts_path do |f| %>
    <p>
        Name<br>
        <%= f.text_field :title %>
    </p>
    <p>
        Post body<br>
        <%= f.text_area :body %>
    </p>
    <p>
        <%= f.submit :body %>
    </p>
        
    <!-- form_for @object, html: { multipart: true }, do |f| -->
    <!-- form_for @object, html: { class: "classname" }, do |f| -->

    
<% end %>
